/* STYLE CSS */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}
.h1, h1 {
    font-weight: 100;
    background-color: rgba(47, 47, 47, 0.74);
    padding: 10px 23px;
    -webkit-border-top-right-radius: 80px;
    -webkit-border-bottom-right-radius: 80px;
    -moz-border-radius-topright: 80px;
    -moz-border-radius-bottomright: 80px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    font-size: 30px;
}
.h3, h3 {
    font-size: 22px;
}
.h4, h4 {
    font-size: 16px;
}
label {
    font-weight: 100;
}
a {
    color: #F1F106;
    text-decoration: none;
}
a:focus, a:hover {
    color: #B1B1B1;
}
.tomahome {
    display: table;
    height: 600px;
    width: 100%;
    position: relative;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tomahome-display {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding-top: 170px;
}
.header {
    background-color: rgba(178, 186, 44, 0.87);
    width: 100%;
    padding: 12px 0;
    position: fixed;
    z-index: 1;
}
.header .text{
    margin-top: 10px
}
.header .text2{
    margin-top: 15px;
    color: #fff;
}
.header .logo{
    background-color: #B2BA2C;
    margin: -12px 0;
    padding: 12px 0;
    -webkit-box-shadow: 0px 5px 23px 0px rgba(50, 50, 50, 0.34);
    -moz-box-shadow: 0px 5px 23px 0px rgba(50, 50, 50, 0.34);
    box-shadow: 0px 5px 23px 0px rgba(50, 50, 50, 0.34);
}
.header .nuper-bottom {
    margin-bottom: 20px;
}
form{
    background-color: rgba(0, 5, 41, 0.71);
    padding: 10px 35px 30px;
    -webkit-box-shadow: 0px -1px 26px 0px rgba(50, 50, 50, 0.69);
    -moz-box-shadow: 0px -1px 26px 0px rgba(50, 50, 50, 0.69);
    box-shadow: 0px -1px 26px 0px rgba(50, 50, 50, 0.69);
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.form-group {
    margin-bottom: 10px;
}
.form-control{
    background-color: rgba(255, 255, 255, 0.31);
    color: #FFFFFF;
}
.form-control option {
    color: #333;
}
.title{
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 20px;
}
.btn-warning {
    color: #02004A;
    background-color: #F1F106;
    border-color: #F1F106;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
    padding: 6px 20px;
}
.btn-warning:hover {
    color: #02004A;
    background-color: #AFAF00;
    border-color: #AFAF00;
}
.content2{
    background-color: #B2BA2C;
    padding: 18px 0 30px;
    color: #fff;
}
.content3{
    background-color: rgb(77, 77, 77);
    color: #fff;
    padding: 60px 0px 0px;
}
.content4 {
    padding-top: 130px;
    height: 100%;
}
.content4 h1 {
    font-size: 72px;
    background: none;
}
.nuper{
    background-color: #B2BA2C;
    padding: 4px 15px;
    border-radius: 50%;
    font-size: 27px;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 100;
}
.nuper-bottom{
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    padding-bottom: 10px;
}

/* RESPONSIVE */
@media screen and (max-width: 430px) {
    .header .text2 {
        font-size: 10px;
    }
    .tomahome-display{
        padding-top: 110px;
    }
}
@media screen and (max-width: 768px) {
    .h1, h1{
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0 -15px 20px;
        font-size: 20px;
        text-align: center;
    }
}
@media (min-width: 768px) {
    .lead {
        font-size: 18px;
    }
}